<h1>Home Page</h1>

View Doctors: <%= link_to 'Doctors', "/doctors/index" %> 

</br>
</br>
</br>

Create Appointment: <%= link_to 'Create Appointment', "/appointments/new" %> 

</br>
</br>
</br>

Create Pet: <%= link_to 'Create Pet', "/pets/new" %> 